/*
 * COLOR GUIDE
 * #E8C547 - Saffron (Sunshine)
 * #30323D - Jet (Dark Sky)
 * #4D5061 - Davy's Gray (Light Grey Sky)
 * #1098F7 - Dodger's Blue (Blue Sky)
 * #DDDEE4 - Platinum (Gray Sky)
 */
:root{
	--sun-color: #E8C547;
	--sky-color: #1098F7;
}

@font-face {
    font-family: VT323;
    /*src: url("/energy-projects/VT323-Regular.ttf");*/
	src: url("VT323-Regular.ttf")
	/*
	 * change this url to /energy-projects/VT323-Regular.ttf when uploading
	 * change to VT323-Regular.ttf when locally editing
	 */
}

html, body {
	background-color: #DDDEE4;
	font-family: "VT323";
	height: 100%;
}

.navbar-bg {
	background: linear-gradient(to right, var(--sky-color), var(--sky-color) 45%, var(--sun-color) 50%, var(--sun-color) 75%, var(--sky-color) 80%);
}

.bg-sky {
    background-color: #1098F7;
}

.bg-sun {
	background-color: #E8C547;
}

.ash-text {
	color: #CDD1C4;
}

.panel {
	background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
		height: 100%;

	display: flex;
	flex-direction: column;
}

.pricing-container, .usage-container, .result-container{
	flex-grow: 1;
	display: flex;
	flex-direction: row;
}

.pricing-axis-label, .usage-axis-label, .result-axis-label{
	width: 4%;
	margin-right: 5px;
	text-align: right;
	display: flex;
	flex-direction: column;
}

.pricing-box, .usage-box, .result-box{
	background-color: #d5dce8;
	width: 4%;
	display: flex;
	flex-direction: column;
	justify-content: bottom;
	align-items: center;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.pricing-slider, .usage-slider{
	margin-top: auto; /* aligns this element and ones under it at bottom */
	background-color: #36382E;
	height: 4%;
}

.result-slider{
	margin-top: auto;/* aligns this element and ones under it at bottom */
	background-color: #36382E;
	padding-top: 100%;
	border-radius: 50%;
}

.pricing-bar, .usage-bar{
	background-color: var(--sky-color);
	outline: 5px black;
	text-align: center;
}

.result-bar{
	background-color: var(--sun-color);
	outline: 5px black;
	text-align: center;
	height: 50%;
	max-width: 50%;
	max-height: 100%;
}

.pricing-label, .usage-label, .result-label{
	height: 10%;
	background-color: #f0f0f0;
	text-align: center;
}

.footer{
	position: absolute;
 	bottom: 10px;
	width: 100%;
}
